/* Styles for posts */

div#new-post-div {
    color: red;
    cursor: pointer;
}

form#new-post-form {
    display: none;
}

img.post-image {
    width: 200px;
    height: 200px;
}

/* Features */

.features {
    width: 100%;
}

.feature-item {
    float: left;
}

.post-wrapper {
    padding: 3em 0 1em 0;
}
