<!DOCTYPE html>
<html lang=en>
<head>
    <title>Pick a hero</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <form id="pick_hero_form" action="/sayings/{{ saying.id }}/hero/" method="post"  autocomplete="off">{% csrf_token %}
        <h2 id="pick_hero_form_h2">Pick your hero</h2>
        <br>
        {% for hero in heroes %}
        <input type="radio" name="hero" value="{{ hero.id }}">
        <img src="{{ hero.image_url }}" width="640" height="320">
        {% endfor %}
	<input id="your_name_start_form_submit_button" type="submit" value="Choose" class="button">
	</form>
</body>
</html>
