<!DOCTYPE html>
<html lang=en>
<head>
    <title>First Quest</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h2>Answer your quest</h2>
    <img src="{{ hero.image_url }}" width="200" height="200">
    <h2 style="color: blue;">Hey, {{ saying.first_name }}! {{ question.content }}</h2>
    <!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API/Recording_a_media_element -->
    <p>Click the "Start" button to begin video recording for a few seconds.</p>
    <br>
    <div class="left">
        <div id="startButton" class="button">Start</div>
        <h2>Preview</h2>
        <video id="preview" width="160" height="120" autoplay muted></video>
    </div>
    <div class="right">
        <h2>Recording</h2>
        <video id="recording" width="160" height="120" controls></video>
    </div>
    <div class="bottom">
        <pre id="log"></pre>
    </div>

    <form id="send_recording_form" action="/sayings/{{ saying.id }}/questions/{{ question.id }}/answer/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <input id="send_recording_file" type="file" name="recording">
        <input type="submit" value="Next Quest!" disabled>
    </form>

    <script src="/static/js/main.js"></script>
</body>
</html>
